<body id="signup">
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation"> 
      <div class="container">
          <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
              <a id="homeLink" class="navbar-brand" href="/">BarHopp</a>
          </div>

          <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav">
                  <li>
                      <a href="/contact/">Contact BarHopp</a>
                  </li>
                  <li>
                      <%= link_to "Create Bar Crawl", search_path, :method => :get  %>
                  </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/users/sign_in">Login</a></li>
                <li class="active"><a href="/users/sign_up">Sign Up</a></li>
              </ul>
          </div>
      </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :name, "Username" %>
          </div>
          <div>
            <%= f.text_field :name, autofocus: true %>
          </div>  
          <br>
          <div class="field">
            <%= f.label :email %>
          </div>
          <div>
            <%= f.email_field :email %>
          </div>
          <br>
          <div class="field">
            <%= f.label :password %>
            <% if @validatable %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
          </div>
          <div>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
          <br>
          <div class="field">
            <%= f.label :password_confirmation %>
          </div>
          <div>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
          <br>
          <div class="actions">
            <%= f.submit "Sign up" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>