<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body id="crawlImage">
	<nav class="navbar navbar-inverse navbar-static-top" role="navigation"> 
	    <div class="container">
	        <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
	            <a id="homeLink" class="navbar-brand" href="/">BarHopp</a>
	        </div>

	        <div class="collapse navbar-collapse navbar-ex1-collapse">
	            <ul class="nav navbar-nav">
	                <li>
	                    <a href="/contact/">Contact BarHopp</a>
	                </li>
	                <li>
	                    <%= link_to "Create Bar Crawl", search_path, :method => :get  %>
	                </li>
	            </ul>
	            <ul class="nav navbar-nav navbar-right">
	                <% if @user %>
	                    <li><a href="/users/<%= @user.id %>"><%= @user.name %>'s Profile</a></li>
	                    <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
	  <!--        if no logged in user, show these menu items
	   -->          <% else %>
	                    <li><a href="/users/sign_in">Login</a></li>
	                    <li><a href="/users/sign_up">Sign Up</a></li>
	                <% end %>
	            </ul>
	        </div>
	    </div>
	</nav>
	<div class="jumbotron" id="crawlTitle">
		<div class="row">
			<div class="col-xs-9">
				<h1>
					<%= @user_crawl.name %>
				</h1>
				<br>
				<%= button_to "View Map", "/users/#{@user.id}/crawls/#{@crawl_id}/map", class: "btn btn-default homeButtons", :method => :get %>
			</div>
		</div>
	</div>
	<div class="container barDetails">
	<br>
	<br>
	<% count = 0  %>
	<% @bars.each do |b| %>
		<div class="row">
			<div class="col-xs-2 barImageDiv">
				<img src="<%= @images[count] %>" class="image barImage">
			</div>
			<div class="col-xs-10">
				<h3><%= b.name  %></h3>
				<h4><%= b.address %></h4>
				<!-- <%= radio_button_tag(:route, "start")%> -->
				<!-- <%= label_tag(:route_start, "Choose as First Bar in Crawl") %><br> -->
				<!-- <%= radio_button_tag(:end, "end")%> -->
				<!-- <%= label_tag(:route_end, "Choose as Last Bar in Crawl") %> -->
			</div>
		</div>
		<br>
	<% count += 1 %>
	<% end %>
	</div>
</body>
</html>