<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search for Bars to Crawl</title>
</head>
<body>
  <%= form_tag("/search", method: "get") do %>
    <%= label_tag(:loc, "Find Bars Near:") %>
    <%= text_field_tag 'loc', nil, placeholder: "Search by Zip Code" %>
    <%= submit_tag("Search") %>
  <% end %>

<div class="container searchRes">
  <div class="row">
    <div class="col-xs-6">
      <% if @bars %>

        <%= form_for :locations, method: "post", url: '/crawl' do |f| %>  
          <% @bars.each do |b| %>
            <p><a href=<%=b.url%> target="_blank"><%= b.name %></a></p>

            <%= f.check_box 'bars', {:multiple => true}, "#{b.id.split("-").join("_")} | #{b.location.address[0]}, #{b.location.city}, #{b.location.state_code} | #{b.name} | #{b.location.coordinate.latitude} | #{b.location.coordinate.longitude}", nil %>
          <% end %>
          <%= f.submit  %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

</body>
</html>