<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search for Bars to Crawl</title>
   <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLUGbjsywBwK8aa7Dm1uAggv2NObB3Sxs"></script>
</head>
<body id="search">
  <div class="navbar navbar-inverse navbar-static-top" >
    <div class="container">
      <a href="/" class="navbar-brand">BarHopp</a>
      <div class="collapse navbar-collapse navHeaderCollapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="/contact/">Contact</a>
          </li>
          <li>
              <a href="/about">About</a>
          </li>
          <li class="active">
            <a href="/search">Bar Crawl Search</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
  <!--        if there is a logged in user, show these menu items
   -->    <% if @user %>
            <li><a href="/users/<%= @user.id %>">Profile</a></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
  <!--        if no logged in user, show these menu items
   -->    <% else %>
            <li><a href="/users/sign_in">Sign In</a></li>
            <li><a href="/users/sign_up">Sign Up</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6">
        <div class="locSearch">
          <div class="searchParams">
          <%= form_tag("/search", method: "get") do %>
            <%= label_tag(:loc, "Find Bars Near:") %>
          </div>
            <%= text_field_tag 'loc', nil, placeholder: "Search by Zip Code" %>
            <%= submit_tag("Search") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3">
        <div class="searchParams">
          <% if @bars %>
            </br>
            Search results:
            </br>
            <div><%= form_for :locations, method: "post", url: '/crawl' do |f| %>  
              <% @bars.businesses.each do |b| %>
                <p><a href=<%=b.url%> target="_blank"><%= b.name %></a><br><%= b.location.display_address[0] %>, <%=b.location.city %><br>
                  Add to crawl: <%= f.check_box 'bars', {:multiple => true}, "#{b.id.split("-").join("_")} | #{b.location.address[0]}, #{b.location.city}, #{b.location.state_code} | #{b.name} | #{b.location.coordinate.latitude} | #{b.location.coordinate.longitude}", nil %>
                </p>
              <% end %>
            </div>
        </div>
      </div>
      <div class="col-xs-9">
        <div id="map-canvas" style="width: 100%; height: 500px"></div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  
  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="text-muted text-center">
            <%= f.label :crawl, "Name Your Bar Crawl:" %>
            <%= f.text_field :crawl, placeholder: "super clever name" %>
            <%= f.submit "Create" %>
          <% end %>
        <% end %></button></p>
    </div>
  </div>
</body>

<%= javascript_include_tag 'search', 'data-turbolinks-track' => true %>
</html>