<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BarHopp</title>
</head>
<body id="homeImage">
	<nav class="navbar navbar-inverse navbar-static-top" role="navigation"> 
	    <div class="container">
	        <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
	            <a id="homeLink" class="navbar-brand active" href="/">BarHopp</a>
	        </div>

	        <div class="collapse navbar-collapse navbar-ex1-collapse">
	            <ul class="nav navbar-nav">
	                <li>
	                    <a href="/contact/">Contact BarHopp</a>
	                </li>
	                <li>
	                    <%= link_to "Create Bar Crawl", search_path, :method => :get  %>
	                </li>
	            </ul>
	            <ul class="nav navbar-nav navbar-right">
	                <% if @user %>
	                    <li><a href="/users/<%= @user.id %>"><%= @user.name %>'s Profile</a></li>
	                    <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
	  <!--        if no logged in user, show these menu items
	   -->          <% else %>
	                    <li><a href="/users/sign_in">Login</a></li>
	                    <li><a href="/users/sign_up">Sign Up</a></li>
	                <% end %>
	            </ul>
	        </div>
	    </div>
	</nav>
	<div class="jumbotron homeStuff">
		<div class="row">
			<div class="col-xs-12 text-center header">
				<h1>Welcome to BarHopp</h1>
			</div>
			<div class="col-xs-12 text-center">
				<h3>BarHopp lets you create a map of your location, with all of the bars you want to hit up.  Use it to design your ultimate bar crawl or to follow a fellow BarHopp'er!</h3>
			</div>
		</div>
		<div class="row">
			<br>
			<% if @user %>
				<div class="col-xs-12 subheader text-center">
					<a href="/users/<%= @user.id %>" class="btn btn-default homeButtons">PROFILE</a>
				</div>
			<% else %>
				<div class="col-xs-8 col-xs-offset-2 text-center subheader">
					<a href="/users/sign_up" class="btn btn-default homeButtons">SIGN UP</a>
					<a href="/users/sign_in" class="btn btn-default homeButtons">LOGIN</a>
				</div>
			<% end %>
		</div>
	</div>
</body>
</html>