<body>
	<nav class="navbar navbar-inverse navbar-static-top" role="navigation"> 
	    <div class="container">
	        <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
	            <a id="homeLink" class="navbar-brand" href="/">BarHopp</a>
	        </div>

	        <div class="collapse navbar-collapse navbar-ex1-collapse">
	            <ul class="nav navbar-nav">
	                <li>
	                    <a href="/contact/">Contact BarHopp</a>
	                </li>
	                <li>
	                    <%= link_to "Create Bar Crawl", search_path, :method => :get  %>
	                </li>
	            </ul>
	            <ul class="nav navbar-nav navbar-right">
	                <% if @user %>
	                    <li class="active"><a href="/users/<%= @user.id %>"><%= @user.name %>'s Profile</a></li>
	                    <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
	  <!--        if no logged in user, show these menu items
	   -->          <% else %>
	                    <li><a href="/users/sign_in">Login</a></li>
	                    <li><a href="/users/sign_up">Sign Up</a></li>
	                <% end %>
	            </ul>
	        </div>
	    </div>
	</nav>
	
	<div class="jumbotron">
		<div class="row">
			<div class="col-xs-12">
				<h1>Welcome, <%= @user.name %></h1>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-2">
				<h3>My Crawls:</h3>
			</div>
			<div class="col-xs-6 crawlBox">
				<% @crawls.each do |c| %>
					<div class="eachCrawl"><a href="/users/<%= @user.id %>/crawls/<%= c.id  %>"><%= c.name  %></a></div>
				<% end %>
			</div>
		</div>
	</div>

<!-- <div>Welcome, <%=  @user.name%></div>

<div>List of Crawls you've created</div>

<% @crawls.each do |c| %>
	<div><a href="/users/<%= @user.id %>/crawls/<%= c.id  %>"><%= c.name  %></a></div>
<% end  %> -->

</body>